{% extends "base.html" %}
{% block content %}

<div class="card">
<h1>Skills</h1>
<p><h2>Academic & Technical Development</h2>

  <p>Actively building advanced skills in:</p>

  <ul>
    <li>Network Design & Configuration</li>
    <li>Cloud Computing</li>
    <li>Cybersecurity</li>
    <li>Python Development</li>
    <li>Linux Administration</li>
  </ul>

  <h2>Professional Skills</h2>

  <ul>
    <li>Team Leadership & Service Delivery Management</li>
    <li>Root Cause Analysis & Problem Solving</li>
    <li>Customer Support & Stakeholder Communication</li>
    <li>Process Improvement & Business Analysis</li>
  </ul></p>
</div>

{% endblock %}
